<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/detail.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Posting</title>
</head>

<body class="body">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <!-- Open navbar-->
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">Go back</a>
                </li>

            </ul>
            <!--End navbar-->

            <h1><%= travel.postname %></h1>
            <h6 class="card-subtitle mb-2 text-muted">Description: <%= travel.description %></h6>
            <small id="emailHelp" class="form-text text-muted">Fecha de publicación del post:
                <%= travel.createdAt %></small>
            <br>
            <p class="card-text">My story: <%= travel.story %></p>

            <div class="card" style="width: 25rem;">
                <% pictures.forEach(picture => { %>
                <img class="card-img-top" src="<%= picture.url %> " alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><%= picture.description %></p>
                    <% }) %>
                </div>
            </div>

            <hr>
            <div class="addPhoto">
                <h3>Agregar foto</h3>
                <form action="/addPicture" method="POST">
                    <input type="hidden" name="id" value="<%= travel.id %>">
                    <label class="url" for="">Url:</label> <br>
                    <input class="input" type="text" name="url">
                    <br>
                    <label class="desc" for="">Description:</label><br>
                    <input class="input " type="text" name="description">

                    <br>
                    <button class="btn btn-success">Add photo</button>
                </form>
            </div>
            <hr>
            <br>

            <!-- Vista de comentarios -->
            <h3>Comments</h3>
            <br>
            <div class="card" style="width: 100%">
                <ul>
                    <% coments.forEach(coment => { %>
                    <li>
                        <h5 class="card-title"><%= coment.username %>:</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= coment.addcoment %> </h6>
                    </li>
                    <hr>
                    <% }) %>
                </ul>
            </div>
            <br>

            <!-- Agregar comentarios -->
            <div class="cmt">
                <form action="/addComent" method="POST">
                    <h2>Add a new comment</h2>
                    <div class="form-group">
                        <br>
                        <input type="hidden" name="id" value="<%= travel.id %>">
                        <input type="text" name="username" class="form-control" id="formGroupExampleInput"
                            placeholder="Name" style="width: 30%;">
                        <br>
                        <input type="text" name="addcoment" class="form-control" id="formGroupExampleInput"
                            placeholder="Comment" style="width: 30%;">
                        <br>
                        <button role="button" class="btn btn-primary" onclick="">Comment</button>
                    </div>
                </form>
            </div>


        </div>
    </div>







    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>