<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%= travel.postname %></h1>


    <p>Description: <%= travel.description %></p>
    <p>Fecha de publicación de travel: <%= travel.createdAt %></p>

    <h3>Agregar foto</h3>
    <form action="/addPicture" method="POST">
        <input type="hidden" name="id" value="<%= travel.id %>">
        <label for="">Url:</label>
        <input type="text" name="url">
        <br>
        <label for="">Description</label>
        <input type="text" name="description">

        <br>
        <button>Add photo</button>
    </form>
    <br>

    <% pictures.forEach(picture => { %>
    <img src="<%= picture.url %> " alt="">
    <p><%= picture.description %></p>
    <% }) %>
</body>

</html>