<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>
    <!-- ejsout -->
    <%= titulo %>
  </h1>
  <a href="/new">Add new Post</a>
  <ul>
    <!-- ejseach -->
    <% travels.forEach(travel => { %>
    <li>
      <p>
        <%= travel.postname %>
        <br>
        <%= travel.description %> 
      </p>
      <!-- Fecha de creacion de registro en la base de datos -->
      <p>
        <%= travel.createdAt %>
      </p>
      <a href="/detail/<%= travel.id %> ">Look more</a>
      <a href="/edit/<%= travel.id %> ">Edit post</a>
      <a href="/delete/<%= travel.id %> ">Delete post</a>
    </li>
    <% }) %>



</body>

</html>