<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href="/stylesheets/demo.css" rel="stylesheet" />


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Document</title>

</head>

<body class="body">

  <div class='blurred-container'>
    <div class="motto">
      <div>Create</div>
      <div class="border no-right-border" style="font-size: 68px;">A</div>
      <div class="border" style="font-size: 68px;">New</div>
      <div>Posibility</div>
      <a class="btn btn-primary" href="#content" role="button">Show me</a>
    </div>
  </div>

  <div id="content">
    <!--Open principal card-->
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <div>
          <img src="/images/Logo.png" alt="">
        </div>

        <!-- Open navbar-->
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a type="button" class="btn btn-outline-success" class="nav-link active" href="/new">Add new Post</a>
          </li>
        </ul>
        <!--End navbar-->

        <!--Open tittle-->
        <h1 class="card-title">
          <!-- ejsout -->
          <%= titulo %>
        </h1>
        <!--End tittle-->

        <!--Open lateral menu-->
        <div class="row">
          <div class="col-4">
            <!-- Colum -->
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                href="#list-home" role="tab" aria-controls="home">Home</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                href="#list-profile" role="tab" aria-controls="profile">Most popular</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                href="#list-messages" role="tab" aria-controls="messages">Profile</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                href="#list-settings" role="tab" aria-controls="settings">Settings</a>
            </div>
          </div>
          <!--End colum-->

          <div class="col-8">
            <!-- Post box-->
            <div class="tab-content" id="nav-tabContent" class="ex3">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"
                data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                <div href="list-home">
                  <!-- ejseach -->
                  <% travels.forEach(travel => { %>
                  <li>
                    <h3>
                      <%= travel.postname %>
                    </h3>
                    <br>
                    <p>
                      <%= travel.description %>
                    </p>
                    <!-- Fecha de creacion de registro en la base de datos -->
                    <p>
                      <%= travel.createdAt %>
                    </p>
                    <a class="btn btn-primary" href="/detail/ <%= travel.id %> " role="button">Look more</a>
                    <a class="btn btn-primary" href="/edit/<%= travel.id %> " role="button">Edit post</a>
                    <a class="btn btn-primary" href="/delete/<%= travel.id %> " role="button">Delete post</a>
                  </li>
                  <hr>
                  <br>
                  <% }) %>
                </div>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div href="list-home">
                  <!-- ejseach -->
                  <% travels.forEach(travel => { %>
                  <li>
                    <h3>
                      <%= travel.postname %>
                    </h3>
                    <br>
                    <p>
                      <%= travel.description %>
                    </p>
                    <!-- Fecha de creacion de registro en la base de datos -->
                    <p>
                      <%= travel.createdAt %>
                    </p>
                    <a class="btn btn-primary" href="/detail/ <%= travel.id %> " role="button">Look more</a>
                  </li>
                  <hr>
                  <br>
                  <% }) %>
                </div>
              </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...
              </div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <h1>Sample blog post</h1>
                <small>24/04/2020 by: Jessica Hernadez</small>
                <hr>
                <p>
                  This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
                </p>
                <p>
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
                </p>
                <p>
                  Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
                <p>
                  Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                </p>
              </div>
            </div>
          </div>
          <!--End post-->
        </div>
        <!--End lateral menu-->

      </div>
    </div>

  </div>



  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>